.land {width:100%}

.status {
    font-weight: bold;
    margin-top: 12px;
    color: blue;
}

.mainPhoto {
    max-width: 300px;
}

i {
    color: darkblue;
}

.contacts {
    margin-left: 12px;
}

.head {
    color: blue;
}

.contactsHead {
    margin-bottom: -16px;
}