.header {
   position: fixed;
   width: 100%;
   grid-area: header;
   background-color: burlywood;
}
.header img {
   width: 60px;
}
.login {
   float: right;
   color: magenta;
   margin-right: 10px;
}
.login a {
   color: white;
}
.name {
   font-weight: bold;
   background-color: gold;
   padding: 3px 16px;
   border: 2px solid red;
   border-radius: 6px;
   margin-right: 5px;
}