.header {
   grid-area: header;
   background-color: burlywood;
}
.header img {
   width: 60px;
}
.login {
   float: right;
   color: magenta;
   margin-right: 10px;
}
.login a {
   color: white;
}