.pager {
    padding: 6px 0 2px;
}

.actLink {
    font-weight: bold;
    font-size: large;
    color: red;
    background-color: aliceblue;
    margin: 0 2px;
    padding: 0 1px;
}

.pageLink {
    font-size: x-small;
    cursor: pointer;
    background-color: darkkhaki;
    border: solid 1px red;
    padding: 0 1px;
    margin: 0 1px;
}

.jump {
    color: red;
    border: solid 2px orange;
    font-size: 12px;
    font-weight: bold;
    background-color: cornsilk;
}